@{
    ViewData["Title"] = "About Us";
}

@*VIDEO DIV*@

<h4 style="font-family:'Century Gothic'">What are <span style="color:darkorange">We?</span></h4>

<div style="display:flex;justify-content:center">

    <div class="content" style="display:flex;justify-content:center;align-items:center;margin:10px;text-align:justify">
        <p style="font-family:'Century Gothic'">According to International Yoga Federation, about 300 million people practice YOGA globally and 80% of this population lies in India itself. But, out of 135 crore Indian population, every 3rd person is suffering from some or the other disease.
            Surprisingly Ayurvedic system of living has a solution for almost all of these problems but people are not able to get a one step solution for all this knowledge.<br>
            <span style="color:orange;font-size:18px"> So in order to counter that I have innovated a mobile application for a smart watch with vital records and lifestyle recommendations that will give you ayurvedic remedies based on the health metrics of the user, measured with the particular smart watch in real time.</span>
        </p>
    </div>

<div class="Video" >
<video width="500" height="300" controls>

    <source src="~/img/waayu_intro.mp4" type="video/mp4">
    Not Supported
</video>
    </div>
</div>
<br>
<br>

<div style="display:flex;">
    <div style="display:flex;justify-content:center;align-items:start">
    <img src="~/img/process.png" style="width:700px;height:450px;margin-right:10px"></img>
    </div>
<div style="display:flex;justify-content:end;align-items:center">
<h4 style="font-family:'Century Gothic'">How it is <span style="color:darkorange">Done</span></h4>
    </div>
</div>