@{
    ViewData["Title"] = "Contact Us";
}


@* <div class="container">
    <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="india">India</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">

    </form>
</div> *@


<form >

    <div style="margin-left:25%;margin-top:20px">
        
        <div style="width:500px;height:400px;justify-content:center">
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Name</label>
                    <input type="email" id="form2Example1" class="form-control"l" />
                    
                </div>

                <!-- Country input -->
                <div class="form-outline mb-4">
                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="India">India</option>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px;width:100%;border-radius:10px"></textarea>
                </div>



               

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" style="width:100%;background-color:orange;color:black;">Submit</button>




            </form>
        </div>
    </div>
</form>

